%div.jumbotron   
  %h1 
    Keep track of your media collection!
  %br
  %br
  %div.container
    = bootstrap_form_tag(url: sessions_path, layout: :inline) do |f|
      = f.text_field :username, hide_label: :true, placeholder: "Username"
      = f.password_field :password, hide_label: :true, placeholder: "Password"
      = f.form_group do
        = f.submit "Sign In"
    %br
    %br
      Don't have an account? Click
      = link_to "here", register_path
      to register.