%div.jumbotron
  %h2
    Add a new media item
%div.container
  = bootstrap_form_for(@media_item) do |f|
    .row
      .col-lg-6
        = f.select :medium,[["N/A"], ["Youtube"], ["Image"], ["Website link"], ["Other"]], label: "Type"
        = f.text_field :title, label: "Title"
        = f.text_area :description, label: "What is it? (add link if possible)", rows: 5, class: "col-sm-3 form-group"
        = f.submit "Submit", class: "btn btn-default"